<!-- @see: https://material.angularjs.org/latest/api/directive/mdCard -->
<md-card role="result-card">
    <md-card-header>
        <div md-card-avatar [style.background-image]="getAtristBackground()"></div>
        <md-card-title>{{track.artist.name}}</md-card-title>
        <md-card-subtitle>{{track.album.title}}</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="{{track.album.cover_medium}}" alt="album art" />
    <md-card-actions>
        <button md-raised-button color="warn" [routerLink]="['/album/', track.album.id]">Album Details</button>
        <!--<button md-raised-button color="warn">Artist Details</button> --> <!--included on album details-->
    </md-card-actions>
</md-card>