#tracks-conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
        -ms-flex-pack: distribute;
    justify-content: flex-start;
    
    search-result {
        margin: 15px;
        padding: 10px;
    }
}