<md-input-container id="search-input-container">
  <input id="search-input"
         mdInput 
         [placeholder]="inputSearchTerm ? '' : 'Search Artist, Album or Song'" 
         [(ngModel)]="inputSearchTerm" 
         #searchInput/>
</md-input-container>

<div *ngIf="tracks; else loading" id="search-result-conteiner">
  <search-result [track]="t" *ngFor="let t of tracks | sortBy:'title'; trackBy: trackTracker"></search-result>
</div>
<ng-template #loading>
  <md-progress-bar mode="indeterminate"></md-progress-bar>
</ng-template>