#search-input-container {
    margin-left: 40px;
    
    #search-input {
        width: 250px;
    }
}

#search-result-conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
        -ms-flex-pack: distribute;
    justify-content: space-around;
    
    search-result {
        margin: 15px;
    }
}