album-details {
    position: inherit!important;
}

.artist-header-image {
    background-size: cover;
}

.mat-card-avatar {
    height: 50px;
    width: 50px;
    margin-top: -5px;
}

md-tab-body > .mat-tab-body-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
        -ms-flex-pack: distribute;
    justify-content: flex-start;

    height: 100%;
}

.key-value-info {
    p {
        margin: 0;
        span:first-of-type {
            font-weight: bold;
        }
    }
}

md-card {
    width: 250px;
    margin: 15px;
    
    md-card-content {
        .info {
            img {
                max-width: 20px;
                max-height: 20px;
                vertical-align: middle;
            }
        }
    }
    &[role='basic-album-info'] {
        a {
            text-decoration: none;
        }
	}
    &[role='additional-info'] {
        width: 500px;
        .contributor-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-flow: row wrap;
                    flex-flow: row wrap;
                -ms-flex-pack: distribute;
            justify-content: flex-start;
        }
    }
    &[role='contributor-container'],
    &[role='artist-container'] {
        margin: 0px 10px 20px 10px;
        width: 180px;
    }
}