<md-tab-group [selectedIndex]= "selectedTabIndex" (selectChange)="onTabChanged($event)">
  <md-tab label="Album and Artist" *ngIf="album">
    <md-card role="basic-album-info">
      <md-card-header>
          <div md-card-avatar [style.background-image]="getAlbumBackground()"></div>
          <md-card-title id="album_title">{{album.title}}</md-card-title>
          <md-card-subtitle>{{album.label}}</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="{{album.cover}}" alt="album art" />
      <md-card-content>
          <div class="info key-value-info">
            <p><span>Number of tracks:</span> {{album?.nb_tracks}}</p>
            <p><span>Duration:</span> {{album?.duration | secondsToTime}}</p>
            <p><span>Fans:</span> {{album?.fans}}</p>
            <p><span>Rating:</span> {{album?.rating}}</p>
            <p><span>Release Date:</span> {{album?.release_date}}</p>
            <p><span>Available:</span> {{album?.available | yesno}}</p>
            <p><span>Explicit Lyrics:</span> {{album?.explicit_lyrics | yesno}}</p>
            <p>
              <span [innerHtml]="'Genre'+(album.genres.data.length>1?'s':'')+':'"></span>
              <ng-container *ngFor="let g of album?.genres?.data | sortBy:'name'">
                <a href="https://www.deezer.com/tags/{{g.name}}" target="_blank">
                  <img [src]="g.picture" alt="{{g.name}} image" mdTooltipPosition="below" mdTooltip="{{g.name}} - click to open in Deezer search"/>
                  <!--<img [src]="g.picture" alt="{{g.name}} image"/>
                  <md-tooltip>"{{g.name}}<br/>click to open in Deezer search"</md-tooltip>-->
                </a>
              </ng-container>
            </p>
          </div>
      </md-card-content>
      <md-card-actions>
        <a md-raised-button color="warn" [href]="album?.link" target="_blank">Open in Deezer</a>
        <button md-raised-button color="warn" (click)="selectTab(1)">View Tracks</button>
      </md-card-actions>
    </md-card>

    <md-card role="additional-info">
      <md-card-content>
        <h2>Additional information</h2>
          <div class="additional-info">
            <ng-container *ngIf="!isArtistInContributors()">
              <h3>Artist:</h3>
              <md-card role="artist-container">
                <img [src]="album.artist.picture" alt="contributor: {{album.artist.name}}" mdTooltipPosition="below" mdTooltip="{{album.artist.name}} - open in Deezer" />
                <md-card-content>
                  <p><span>Type:</span> {{album.artist.type}}</p>
                </md-card-content>
              </md-card>
            </ng-container>
            <h3>Contributors:</h3>
            <div class="contributor-container">
              <ng-container *ngFor="let c of album?.contributors | sortBy:'name'">
                <md-card role="contributor-container">
                  <a href="{{c.link}}" target="_blank">
                    <img [src]="c.picture" alt="contributor: {{c.name}}" mdTooltipPosition="below" mdTooltip="{{c.name}} - open in Deezer" />
                  </a>
                  <md-card-content class="key-value-info">
                    <p><span>Radio:</span> {{c?.radio | yesno}}</p>
                    <p><span>Role:</span> {{c?.role}}</p>
                    <p><span>Type:</span> {{c?.type}}</p>
                    <ng-container *ngIf="isArtistInContributors()">
                      <p><span>Original artist of this album.</span></p>
                    </ng-container>
                  </md-card-content>
                </md-card>
              </ng-container>
            </div>
          </div>
      </md-card-content>
    </md-card>
  </md-tab>

  <md-tab label="Tracks" *ngIf="album">
      <track-list [tracks]="album.tracks.data"></track-list>
  </md-tab>
</md-tab-group>