<md-card role="track">
    <p>
        <a href="{{t.link}}" target="_blank" mdTooltipPosition="below" mdTooltip="Open in Deezer">{{t.title}}</a>
    </p>
    <md-card-content class="track-details">
        <p><span>Duration:</span> {{t.duration | secondsToTime}}</p>
        <p><span>Explicit lyrics: </span><span [style.color]="t.explicit_lyrics ? 'red' : 'green'">{{t.explicit_lyrics | yesno}}</span> </p>
        <p><span>Rank:</span> {{t.rank}}</p>
        <ng-container *ngIf="t.preview">
            <p class="push-down">
                <span>Listen to a preview:</span><br/>
                <audio controls>
                    <source src="{{t.preview}}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </p>
        </ng-container>
    </md-card-content>
</md-card>