md-card {
    min-width: 300px;
}
.track-details {
    p {
        margin: 0;

        &.push-down {
            margin-top: 10px;
        }
        span:first-of-type {
            font-weight: bold;
        }
    }
}